h1{
    font-size:175%;
	font-family:courier;
	text-align:center;
	font-weight:900;
	margin-top:20px;
}
body{
    margin:0px;
}
*{
    box-sizing:border-box;
}
.row{
    width:100%;
	margin-left:5px;
}
p{
    font-family:courier;
    font-size:110%;
    color:black;
	font-weight:900;
}
@media (min-width:992px){
    .col-xl-1{
	    width:32%;
		margin:0.5%;
	    border:1px solid black;
        float:left;
        padding:3px;		
		position:relative;
		margin-top:120px;
		background-color:silver;
	}
}
@media (min-width:768px) and (max-width:991px){
    .col-lg-1,.col-lg-2{
	    float:left;
		margin:0.5%;
	    border:1px solid black;
		padding:3px;
		background-color:silver;
	}
	.col-lg-1{
	    width:48.6%;
		margin-top:100px;
		position:relative;
	}
	.col-lg-2{
	    width:98.5%;
		position:relative;
	}
}
@media (max-width:767px){
    .col-sm-1{
	    width:80%;
	    float:left;
		clear:left;
		border:1px solid black;
		padding:3px;
		margin:10%;
		margin-bottom:10px;
		margin-top:10px;
		position:relative;
		background-color:silver;
	}
}
section>div{
    font-weight:900;
	font-size:125%;
	font-family:courier;
	position:absolute;
	right:0px;
	top:0px;
	float:right;
	margin-bottom:6px;
	padding:2px;
	border:1px solid black;
}
section>p{
    position:relative;
	top:15px;
}
#chi div{
    background-color:yellow;
}
#bf div{
    background-color:greenyellow;
}
#sh div{
    background-color:cyan;
}


